@import "../../css-config/mixins.scss";

// .header{
//     width: 100%;
//     position: fixed;
//     top: 0;
//     left: 0;
//     background-color: var(--first-color);
//     color: #fff;
//     z-index: 100;
// }

.nav{
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.25rem;
    position: fixed;
    width: 100%;
    transition: all 0.5s;

    .nav-logo{
        color: #fff;
        text-align: center;
    }
    .nav-list {
        display: flex;
        gap: 2rem;

        @include md{
            flex-direction: column;
            gap: 2rem;
        }
        .list-item{
            text-align: center;
            font-size: 1.35rem;
            .nav-link{
                padding: 0.5rem;
                color: #fff;
            }
            .nav-link:hover{
                font-weight: bold;
            }
        }
    }

    .toggle-bar{
        font-size: 1.5rem;
        margin-top: 0.5rem;
        display: none;
        cursor: pointer;
        @include md{
            display: block;
            cursor: pointer;
            color: white;
            position: absolute;
            left: 2rem;
            top: 0.5rem;
        }
        @include xsm{
            left: 0.5rem;
        }
    }
    @include md{
        .menu{
            position: fixed;
            top: 3.5rem;
            left: -100%;
            background-color: #232323f3;
            height: 100vh;
            width: 40%;
            padding: 5rem 2rem;
            transition: 0.5s;
            z-index: 100;
            @include sm{
                width: 50%;
            }
            @include xsm{
                width: 80%;
            }
        }
    }
    .show{
        left: 0;
    }
    .extras {
        color: white;
        display: flex;
        gap: 2rem;
        align-items: center;
        cursor: pointer;
        @include sm{
            gap: 1rem;
            position: absolute;
            right: 2rem;
            font-size: 1.1rem;
        }
        @include xsm{
            right: 0.5rem;
        }
        .cart{
            display: flex;
            align-items: center;
            position: relative;
            span{
                position: absolute;
                top: -10px;
                right: -8px;
                background-color: var(--first-color);
                border-radius: 50%;
                width: 20px;
                height: 20px;
                font-size: 1rem;
                text-align: center;
                @include md{
                    background-color: var(--second-color);
                }
            }
        }
    }
}

.blur{
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);  
}